*{
     margin: 0;
    padding: 0;
}
body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.contenedor {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  max-width: 900px;
  opacity: 0;
  transition: opacity 1s;
}

.foto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.texto h1 {
  font-size: 4rem;
  margin: 0;
  color: #000;
}

.texto h2 {
  font-size: 1.3rem;
  color: #333;
}

.texto p {
  max-width: 400px;
  color: #555;
  line-height: 1.6;
}

.boton{
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn {
  border: none;
  height: 70px;
  width: 100%;
  border-radius: 70px;
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}
.btn a{
  text-decoration: none;
  color: white;
}

.btn:hover {
  transform: scale(1.1);
}

.amarillo {
  background-color: #ffb300;
}
